# The Python Programming Language: Types and Sequences

In [1]:
type('This is a string')

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [6]:
def add_numbers(x,y):
    return x + y
a = add_numbers
a(1,2)

3

In [7]:
type(add_numbers)

function

In [9]:
#Tuple = tidak dapat diubah
#list = dapat diubah
#dictionary = tidak ada urutan
x = (1, 'a', 2, 'b')
type(x)

tuple

In [10]:
y = [1, 'a', 2, 'b']
type(y)

list

In [54]:
z = {'Satu': 1, 'Dua': 2, 'Tiga':3}
type(z)

dict

#### Add a new value to list

In [11]:
y.append(3.3)
print(y)

[1, 'a', 2, 'b', 3.3]

In [12]:
for item in y:
    print(item)

1
a
2
b
3.3

In [18]:
i = 0
while( i !=len(y)):
    print("value",i," = ", y[i])
    i = i + 1

value 0  =  1
value 1  =  a
value 2  =  2
value 3  =  b
value 4  =  3.3

In [21]:
# list also can concatenates using + plus mathematic operations

y+ [1, 3]

[1, 'a', 2, 'b', 3.3, 1, 3]

In [23]:
[1]*4

[1, 1, 1, 1]

In [26]:
1 in [1, 2, 3]

True

In [29]:
x = [1, 2, 3, 4, 'a', 'b', 'c']
y = ('a', 'b', 'c', 3, 2, 1)

In [38]:
# Slicing list and tupples
print(x[:2])
print(y[2:4])

[1, 2]
('c', 3)

In [89]:
#Slicing dict
Ibukota = {'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Vietnam':'Manila'}
print (Ibukota['Indonesia'])

Jakarta

In [90]:
#Adding new value to dict
Ibukota['Empat'] = 4
print(Ibukota)

{'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Vietnam': 'Manila', 'Empat': 4}

In [91]:
#Delete a key in dict
Ibukota.pop("Empat")
print(Ibukota)

{'Indonesia': 'Jakarta', 'Thailand': 'Bangkok', 'Vietnam': 'Manila'}

In [95]:
#printing elemen and items of dictionaries
for key in Ibukota:
    print(key,': ',z[key])

Indonesia :  Jakarta
Thailand :  Bangkok
Vietnam :  Manila

In [96]:
for key, item in Ibukota.items():
    print(key)
    print(item)

Indonesia
Jakarta
Thailand
Bangkok
Vietnam
Manila

In [97]:
#Unpack tuples using magic way
name = ('Indonesia', 'Vietnam', 'Brunei Darussalam')
Negara1, Negara2, Negara3 = name

In [98]:
print(Negara1)
print(Negara3)

Indonesia
Brunei Darussalam

In [100]:
names = ('Indonesia', 'Vietnam', 'Brunei Darussalam','Chili')
Negara1, Negara2, Negara3 = names
#cannot doing unpack when the numbers is difference

ValueError: too many values to unpack (expected 3)

In [40]:
text = 'This is a string'
print(text[0])
print(text[0:1])
print(text[0:2])
print(text[0:4])

T
T
Th
This

In [43]:
#slicing start from end using '-' negative sign
print (text[-5])
print (text[-10:-5])

t
s a s

In [53]:
# Slicing string using regular expression or Regex
Fullname = 'Christopher Arthur Hansen Brooks'
splitname = Fullname.split(' ')
firstname = splitname[0]
middlename = splitname[1]

print(firstname)
print(middlename)

# Other simpler code
first = Fullname.split(' ')[0]
second = 'Benjamin Franklin Tonoha'.split(' ')[1]
print('Using simpler code')
print(first)
print(second)

Christopher
Arthur
Using simpler code
Christopher
Franklin